# Ignore secrets folder
secrets/

# Ignore PyCache
__pycache__/

# Ignore Airflow logs and PIDs
logs/
airflow-webserver.pid

# Ignore dbt cache and compiled files
dbt_project/target/
dbt_project/logs/
.dbt/

# Ignore environment variables and keys
.env
keys/
