name: Airflow CI

on: [push, pull_request]  # Run the workflow on push or pull request events

jobs:
  airflow-ci:
    runs-on: ubuntu-latest  # Use the latest Ubuntu version

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install apache-airflow
          pip install apache-airflow-providers-google
          pip install apache-airflow-providers-snowflake
          pip install flake8
          pip install dbt-bigquery

      - name: Lint DAGs
        run: |
          flake8 dags/ --max-line-length=120

      - name: Test DAG imports
        run: |
          python -m unittest discover -s dags/ -p "test_*.py"

      - name: Restore GCP Service Account Key
        env:
          GCP_SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
        run: |
          export DBT_PROFILES_DIR=$HOME/.dbt
          mkdir -p $DBT_PROFILES_DIR
          echo $GCP_SERVICE_ACCOUNT_KEY | base64 --decode > $DBT_PROFILES_DIR/service-account.json

      - name: Set up dbt
        run: |
          export DBT_PROFILES_DIR=$HOME/.dbt
          mkdir -p $DBT_PROFILES_DIR
          cat > $DBT_PROFILES_DIR/profiles.yml <<EOL
          dbt_project:
            outputs:
              dev:
                type: bigquery
                method: service-account
                project: expanded-curve-448520-h8
                dataset: raw_ecommerce
                threads: 4
                keyfile: $DBT_PROFILES_DIR/service-account.json
            target: dev
          EOL

      - name: Install dbt Dependencies
        run: |
          cd $GITHUB_WORKSPACE/dbt_project
          dbt deps

      - name: Run dbt Tests
        run: |
          cd $GITHUB_WORKSPACE/dbt_project
          dbt test

      - name: Test Connection to Local Airflow
        run: |
          curl -I http://localhost:8080 || echo "âŒ Airflow is not reachable"
